@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    touch-action: manipulation;
  }

  body {
    @apply bg-slate-100 text-slate-900 antialiased dark:bg-slate-900 dark:text-slate-100;
  }
}
