<h1 id="home-title"></h1>

<div class="list" id="doc-types">
  <!-- Поступление от контрагента -->
  <div class="item action" id="btn-doc-purchase" role="button" tabindex="0" aria-label="doc-purchase">
    <div class="row">
      <div class="left">
        <i class="fa-solid fa-truck-ramp-box" aria-hidden="true"></i>
        <span id="btn-doc-purchase-txt"></span>
      </div>
    </div>
  </div>

  <!-- Отгрузка контрагенту (Скоро) -->
  <div class="item action" id="btn-doc-sales" role="button" tabindex="0" aria-label="doc-sales">
    <div class="row">
      <div class="left">
        <i class="fa-solid fa-boxes-packing" aria-hidden="true"></i>
        <span id="btn-doc-sales-txt"></span>
      </div>
      <span class="pill" id="pill-sales"></span>
    </div>
  </div>

  <!-- Инвентаризация (Скоро) -->
  <div class="item action" id="btn-doc-inventory" role="button" tabindex="0" aria-label="doc-inventory">
    <div class="row">
      <div class="left">
        <i class="fa-solid fa-clipboard-check" aria-hidden="true"></i>
        <span id="btn-doc-inventory-txt"></span>
      </div>
      <span class="pill" id="pill-inventory"></span>
    </div>
  </div>
</div>
